.DS_Store
.rbenv-version
DoGood.app.dSYM.zip
DoGood.ipa
DoGood.xcodeproj/project.xcworkspace/xcuserdata/
DoGood.xcodeproj/xcuserdata/
DoGood.xcworkspace/xcuserdata/
DoGood/.DS_Store
DoGood/Base.lproj/
DoGood/Media.xcassets/.DS_Store
DoGood/Media.xcassets/Icons/.DS_Store
DoGoodTests/.DS_Store
Frank/
Pods/
build/
